.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.form_control input {
    padding: 0.7em;
    border-radius: 0;
    border: 0.5px solid var(--color-msg);
}

.form_control input::placeholder {
    color: var(--color-msg);
}

@media (max-width: 576px) {
    .form_control label {
        margin-bottom: 0.4em;
    }
    
    .form_control input {
        padding: 0.4em;
    }
}
