.service_card {
    padding: 1em;
    border: 1px solid var(--color-msg);
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.service_card h4 {
    background-color: var(--color-txt);
    color: var(--color-hl);
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.service_card p {
    color: var(--color-msg);
    margin-bottom: 1em;
}

.service_card p span {
    font-weight: bold;
}

.category_text {
    display: flex;
    align-items: center;
}

.category_text span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 5px;
}

.category_text .infra {
    background-color: #ffaebc;
}

.category_text .desenvolvimento {
    background-color: #a0e7e5;
}

.category_text .design {
    background-color: #b4f8c8;
}

.category_text .planejamento {
    background-color: #fbe7c6;
}

.service_card_actions {
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}

.service_card_actions a,
.service_card_actions button {
    text-decoration: none;
    border: 1px solid var(--color-txt);
    background-color: #fff;
    color: var(--color-txt);
    font-size: 0.9em;
    padding: 0.6em 1em;
    cursor: pointer;
    margin-right: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.service_card_actions a:hover,
.service_card_actions button:hover {
    background-color: var(--color-txt);
    color: var(--color-hl);
}

.service_card_actions svg {
    margin-right: 0.5em;
}

@media (max-width: 1200px) {
    .service_card {
        width: 30%;
    }
}

@media (max-width: 960px) {
    .service_card {
        width: 50%;
    }
}

@media (max-width: 720px) {
    .service_card {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .service_card h4 {
        margin-bottom: 1.3em;
        font-size: 1em;
    }
    
}

@media (max-width: 576px) {
    .service_card_actions a,
    .service_card_actions button {
        font-size: 0.8em;
    }
}
