.about_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.about_container h1 {
    margin-bottom: 0.5em;
}

.about_container p {
    color: var(--color-msg);
    margin-bottom: 0.5em;
}

.about_container p span {
    color: var(--color-hl);
    font-weight: bold;
}

