.newproject_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.newproject_container h1 {
    margin-bottom: 0.5em;
}

.newproject_container p {
    color: var(--color-msg);
}

@media (max-width: 576px) {
    .newproject_container h1 {
        font-size: 1.8em;
    }
    
    .newproject_container p {
        font-size: 0.8em;
    }
}
