.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min_height {
    width: 1200px;
    min-height: 70%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.nav {
    width: 1200px;
}

@media (max-width: 1200px) {
    .min_height {
        width: 100%;
    }

    .nav {
        width: 100%;
    }
}

@media (max-width: 960px) {
    .start {
        justify-content: center;
        flex-wrap: wrap;
    }
}