.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-txt);
    padding: 1em;
    position: relative;
    top: 0px;
    height: 15%;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: var(--color-bg);
    text-decoration: none;
}

.item a:hover {
    color: var(--color-hl);
}

.logo {
    width: 5em;
}