@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body,
#root {
  --color-txt: #03304f;
  --color-bg: #fbfbf9;
  --color-hl: #a9cc34;
  --color-msg: #7b7b7b;
  color: var(--color-txt);
  background-color: var(--color-bg);
  height: 100%;
}
