.btn {
    background-color: var(--color-txt);
    color: var(--color-bg);
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    color: var(--color-hl);
}

@media (max-width: 576px) {
    .btn {
        padding: 0.5em 0.5em;
        width: 100px;
        font-size: 0.8em;
    }
    
}